@model TugasAkhir_VsCode.Models.ViewModel.BookingTransaksi;
@{
    Layout = "_LayoutUtama";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

<div class="form-header">
    <h1>
        <a asp-action="Index">
            <i class="bi bi-arrow-left-circle"></i>
        </a>
        Detail Transaksi Pemesanan
    </h1>
    <nav class="breadcrumbs no-phone mini">
        <ul>
            <li>
                <a>Data Shop</a>
            </li>
            <li>
                <a asp-action="Index">Pemesanan Barang</a>
            </li>
            <li>
                <a asp-action="AddBooking">Form Detail Transaksi Pemesanan</a>
            </li>
        </ul>
    </nav>
</div>

<div class="card">
    <div class="card-body">
    </div>
</div>