@{
    Layout = "_LayoutUtama";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0px 5px 5px 5px;
    }

    th,
    td.dtfc-fixed-right {
        right: -0.2px !important;
    }
</style>

<div class="form-header">
    <h1>
        <i class="bi bi-cart4"></i>
        Pemesanan Barang
    </h1>
    <nav class="breadcrumbs no-phone mini">
        <ul>
            <li>
                <a>Transaksi</a>
            </li>
            <li>
                <a asp-action="Index">Pemesanan Barang</a>
            </li>
        </ul>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <form id="filterForm" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="startDate">Periode</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="startDate" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="endDate" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" id="btnFilterSubmit" onclick="loadDataTable();" class="btn btn-primary mr-2">
                    <i class="bi bi-search"></i>
                    Search
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card" style="margin-top: 10px;">
    <div class="dataTables_wrapper pt-2">
        <table id="tblLaporanPemesanan" class="table table-striped project-orders-table">
            <thead>
                <tr>
                    <th>No. Pesanan</th>
                    <th>Tanggal</th>
                    <th>Nama Pelanggan</th>
                    <th>Total Belanja</th>
                    <th>Status Bayar</th>
                    <th>Status Pesanan</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="bodyTblPemesanan">
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    <script>
        const orderTable = document.getElementById("tblLaporanPemesanan");
        var startDateInput = document.getElementById('startDate');
        var endDateInput = document.getElementById('endDate');

        document.addEventListener('DOMContentLoaded', function () {

            var today = new Date();
            var firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);

            var formatDate = function (date) {
                var day = ("0" + date.getDate()).slice(-2);
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                return date.getFullYear() + "-" + month + "-" + day;
            };

            startDateInput.value = formatDate(firstDayOfMonth);
            endDateInput.value = formatDate(today);

            loadDataTable();
        });

        (function ($) {
            'use strict';
            $(function () {
                $('#tblLaporanPemesanan').DataTable({
                    "aLengthMenu": [
                        [5, 10, 25, -1],
                        [5, 10, 25, "All"]
                    ],
                    "iDisplayLength": 10,
                    "language": {
                        search: ""
                    },
                    // "fixedColumns": {
                    // 	left: 2,
                    // 	right: 1
                    // },
                    // "scrollCollapse": true,
                    // "scrollX": true,
                    "order": [[1, 'asc']]
                });
                $('#tblLaporanPemesanan').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.css('padding', '10px');
                    // search_input.removeClass('form-control-sm');
                    search_input.css('display', 'none');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.removeClass('form-control-sm');
                });
                $('#btnMinimize').click();
            });
        })(jQuery);

        function loadDataTable() {
            var bodyTable = document.getElementById("bodyTblPemesanan");
            var startDateInput = document.getElementById('startDate');
            var endDateInput = document.getElementById('endDate');

            var html = "";

            var startDateValue = startDateInput.value;
            var endDateValue = endDateInput.value;

            console.log('Start Date:', startDateValue);
            console.log('End Date:', endDateValue);

            var data = {
                startDate: $('#startDate').val(),
                endDate: $('#endDate').val()
            };

            $.ajax({
                url: '/Owner/Shop/data-load',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.status == "1") {
                        const data = response.data;

                        for (let i = 0; i < data.length; i++) {
                            var tamp = data[i];
                            html +=
                                "<tr>" +
                                "<td>" + tamp.id_transaksi + "</td>" +
                                "<td>" + convertToDDMMYYYY(tamp.tanggal_pemesanan) + "</td>" +
                                "<td>" + tamp.nama_pelanggan + "</td>" +
                                "<td style='text-align: right'>" + formatRupiah(tamp.total, 'Rp. ') + "</td>";

                            if (tamp.status_bayar == "Lunas") {
                                html +=
                                    "<td style='text-align: center;' >" +
                                    "<label class='badge badge-success'>" + tamp.status_bayar + "</label>" +
                                    "</td>";
                            }
                            else {
                                html +=
                                    "<td style='text-align: center;' >" +
                                    "<label class='badge badge-danger'>Belum Lunas</label>" +
                                    "</td>";
                            }

                            html +=
                                "<td style='text-align: center'>" +
                                "<label class='badge badge-success'>" + tamp.status_pemesanan + "</label>" +
                                "</td>" +
                                "<td>" +
                                "<div class='d-flex align-items-center' style='justify-content: center;'>" +
                                "<a href=/Admin/Shop/DetailBooking/" + tamp.id_transaksi + " title='Detail' style='font-size: 20px;'>" +
                                "<i class='typcn typcn-th-list-outline'></i>" +
                                "</a>" +
                                "</div>" +
                                "</td>" +
                                "</tr>";

                        }

                        bodyTable.innerHTML = html;
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("Gagal Update Data, No Invoice salah atau ada data yang tidak sesuai")
                }
            });
        }

        function convertToDDMMYYYY(dateString) {
            // Buat objek Date dari string tanggal
            const date = new Date(dateString);

            // Dapatkan hari, bulan, dan tahun
            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Bulan dimulai dari 0
            const year = date.getFullYear();

            // Gabungkan dalam format dd-mm-yyyy
            return `${day}-${month}-${year}`;
        }

    </script>
}