@model IEnumerable<TugasAkhir_VsCode.Models.Items>
@{
    Layout = "_LayoutUtama";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

<style>
	th,
	td {
		white-space: nowrap;
	}

	div.dataTables_wrapper {
		width: 100%;
		margin: 0 auto;
		padding: 0px 5px 5px 5px;
	}

	th,
	td.dtfc-fixed-right {
		right: -0.2px !important;
	}
</style>

<div class="form-header">
	<h1>
		<i class="bi bi-file-text"></i>
		Laporan Data Barang
	</h1>
	<nav class="breadcrumbs no-phone mini">
		<ul>
			<li>
				<a>Laporan</a>
			</li>
			<li>
				<a asp-action="Index">Data Barang</a>
			</li>
		</ul>
	</nav>
</div>

<div class="card">
	<div class="card-body">

	</div>
</div>

<div class="card" style="margin-top: 10px;">
	<div class="dataTables_wrapper pt-2">
		<table id="table_barang" class="table table-striped project-orders-table">
			<thead>
				<tr>
					<th>No</th>
					<th>Kode Barang</th>
					<th>Nama Barang</th>
					@* <th>Bahan</th>
					<th>Ukuran</th>
					<th>Warna Tersedia</th>
					<th>Harga Modal (Rp)</th> *@
					<th>Harga Jual (Rp)</th>
					<th>Stok Barang	</th>
					<th>Deskripsi</th>
					<th>User Update</th>
					<th>Tanggal Update</th>
					<th style="text-align: center;">Actions</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
	<script>
		$(function () {
			$('#btnMinimize').click();
		});

		//function delete(obj, id) {
		//	console.log(id);
		//	document.getElementById("kodeBarang").text(id);
		//}
	</script>
} 