@{
    Layout = "_LayoutUtama";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

<div class="form-header">
	<h1><a asp-action="Index"><i class="bi bi-arrow-left-circle"></i></a> Add New User</h1>
	<nav class="breadcrumbs no-phone mini">
		<ul>
			<li>
				<a>Master</a>
			</li>
			<li>
				<a asp-action="Index">Master User</a>
			</li>
			<li>
				<a asp-action="Add">Form Add New User</a>
			</li>
		</ul>
	</nav>
</div>

<div class="card">
	<div class="card-body">
    </div>
</div>