@{
    Layout = "_LayoutUtama";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

<div class="form-header">
	<h1><a asp-action="Index"><i class="bi bi-arrow-left-circle"></i></a> Add New User</h1>
	<nav class="breadcrumbs no-phone mini">
		<ul>
			<li>
				<a>Master</a>
			</li>
			<li>
				<a asp-action="Index">Master User</a>
			</li>
			<li>
				<a asp-action="Add">Form Add New User</a>
			</li>
		</ul>
	</nav>
</div>

<div class="card">
	<div class="card-body">
        @{
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="message-box">
                    @ViewBag.Message
                    <script>
                        setTimeout(() => {
                            document.getElementById("btnBackToList").click();
                        }, 2000);
                    </script>
                </div>
            }
            else
            {
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    string[] subs = ViewBag.Error.Split(',');
                    <div class="message-box error">
                        <ul class="error-list">
                            @foreach (var err in subs)
                            {
                                if (!string.IsNullOrEmpty(err))
                                {
                                    <li style="font-size: 0.9em;">@err</li>
                                }
                            }
                        </ul>
                    </div>
                }
            }
        }
        <form asp-action="Index" method="get" hidden>
            <div class="main-form-button">
                <button type="submit" id="btnBackToList" class="btn btn-primary mr-2">
                    <i class="typcn typcn-document btn-icon-prepend"></i>
                    Submit
                </button>
            </div>
        </form>
        <form>
            <div class="row">

            </div>
        </form>
    </div>
</div>